
<!-- orders.hbs -->

{{#if orders}}
  <h1>Order History</h1>
  <ul>
    {{#each orders}}
      <li>
        <h2>Order ID: {{order_id}}</h2>
        <p>User ID: {{user_id}}</p>
        <p>Book Title: {{book_title}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No orders found.</p>
{{/if}}
