<!DOCTYPE html>
<html>
<head>
  <style>
    /* Mobile-friendly styles */
    @media (max-width: 768px) {
      .cardA {
        width: auto;
        margin: 20px;
      }
      
      #logoImg {
        width: 100%;
        height: auto;
      }
      
      .col-md-6 {
        margin-top: 20px;
      }
    }
    
    /* Global styles */
    body {
      font-family: Arial, sans-serif;
    }
    
    h1, h2, h3 {
      margin: 10px 0;
      padding: 10px;
    }
    
    .cardA {
      width: 60rem;
      margin: 20px auto;
      text-align: center;
      justify-content: center;
    }
    
    .carousel-item img {
      width: 100%;
      height: auto;
    }
    
    .card-body {
      text-align: center;
      justify-content: center;
    }
    
    .list-group {
      text-align: center;
      justify-content: center;
      margin: 20px 0;
    }
    
    .list-group-item {
      background-color: #f8f9fa;
      border: none;
    }
    
    .container {
      margin-top: 20px;
    }
    
    #suggestions {
      list-style: none;
      background-color: #f1f2f3;
      padding: 15px;
      border: 1px solid #bdbdf5;
      border-radius: 15px;
    }
    
    #loading-indicator {
      display: none;
      width: 50px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="cardA">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <h1><strong>WELCOME TO</strong></h1>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/Assets/images/ebookbanner.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-body border border-dark rounded p-4" style="text-align: center; background-color: #f8f9fa;">
            <h1>Suggest a Book</h1>
            <p>Give us a couple of your favorite books, and we will use our AI recommendation engine to suggest some others.</p>
            <ul id="suggestions"></ul>
            <div>
              <img id="loading-indicator" src="/Assets/images/loading.gif" style="display: none;" />
            </div>
            <button id="suggestBtn" class="btn btn-primary">Suggest</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <h1 style="background-color: gray; color: white;">ABOUT US</h1>
      <h3>For the love of Books! You'll enjoy using eBooks Library if you love to read anywhere, anytime.</h3>
      <p class="card-text">eBooks Library, Your Personal Bookshelf, is a user-friendly web application that allows every member to create their own reading space. Members are able to find their books and also buy directly from their own secured accounts.</p>
      <p>Discover the range of books from all sorts of categories you can browse!</p>
    </div>
    
    <div class="list-group">
      <h2 style="background-color: gray; color: white;">EXCLUSIVE BENEFITS</h2>
      <a href="#" class="list-group-item list-group-item-action">Buy your favorite books</a>
      <a href="#" class="list-group-item list-group-item-action">Personalize your online library</a>
      <a href="#" class="list-group-item list-group-item-action">Browse the Range</a>
      <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Take your favorite books with you, always</a>
    </div>
    
    <img id="logoImg" src="/Assets/images/caro image 2.jpg" width="950px" height="500px">
  </div>

 
  <script src="/js/home.js"></script>
</body>
</html>
