
<!DOCTYPE html>
<html>
<head>
  <style>
    @media (max-width: 768px) {
      .cardA {
        width: auto;
      }
      
      #logoImg {
        width: 100%;
        height: auto;
      }
      
      .col-md-6 {
        margin-top: 20px;
      }
    }
  </style>
</head>
<body>
  <div class="cardA" style="width: 60rem; text-align: center; justify-content: center;">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <h1>WELCOME TO</h1>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/Assets/images/ebookbanner.png" style="width: 50px;" height="250px" class="d-block w-100" alt="...">
            </div>
          </div>
          
        <div class="card-body" style="text-align: center; justify-content: center;">
      <h1 style="background-color: gray; color: white;">ABOUT US</h1>
            <h3>For the love of Books! You'll enjoy using eBooks Library if you love to read anywhere, anytime.</h3>
          <p class="card-text"> 
           eBooks Library, Your Personal Bookshelf, is a user-friendly web application that allows every member to create their own reading space. Members are able to find their books and also buy directly from their own secured accounts. 
            </p>
            <p> Discover the range of books from all sorts of categories you can browse! </p>
        </div>
        


 <div class="list-group" style="text-align: center; justify-content: center;">
      <h2 style="background-color: gray; color: white;">EXCLUSIVE BENEFITS</h2>
    <a href="#" class="list-group-item list-group-item-action">Buy your favorite books</a>
    <a href="#" class="list-group-item list-group-item-action">Personalize your online library</a>
    <a href="#" class="list-group-item list-group-item-action">Browse the Range</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Take you fav books with you, always</a>
  </div>
    
 <img id="logoImg" src="/Assets/images/caro image 2.jpg" width="950px" height="500px">
  </div>

 <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-6">
        <div class="card-body border border-dark rounded p-4" style="text-align: center; background-color: #f8f9fa;">
          <h1>Suggest a Book</h1>
        <p>Give us a couple of your favourite books, and we will use our AI recommendation engine to suggest some other ones.</p>
        <ul id="suggestions" style="list-style: none; background-color: #f1f2f3; padding: 15px; border: 1px solid #bdbdf5; border-radius: 15px;">
          <div>
            <img id="loading-indicator" src="/Assets/images/loading.gif" style="display: none; width: 50px; margin: 0 auto;" />
          </div>
        </ul>
        <button id="suggestBtn" class="btn btn-primary">Suggest</button>
      </div>
    </div>
  </div>
</div>
 
</div>
    <script src="/js/home.js"></script>
 
 