.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.table-responsive {
  margin-bottom: 20px;
}

.add-to-cart-btn {
  margin-right: 10px;
}

.flex-row.justify-center {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer {
  margin-top: 30%;
}
